{% extends 'base.html' %}
{% block title %} {{ app }} test {% endblock %}
{% block content %}
<div class="container">
  <div class="row ">
    <div id="app" class="text-center">
      <p v-for="item in items"> ${ item } </p>
    </div>
  </div>
</div>
<script>
  var socket = io.connect(document.URL);
  socket.on('connect', function () {
    console.log('connected');
    socket.emit('start', {});
  });
  var items = [];
  socket.on('update', function (seconds) {
    console.log('update', seconds);
    items.unshift(seconds);
    socket.emit('start', {});
  });
  var app = new Vue({
    delimiters: ['${', '}'],
    el: '#app',
    data: {
      items: items
    }
  })
</script>
{% endblock %}
